In [28]:
# importing pandas dataframe
import pandas as pd

In [29]:
# Reading csv
tn_df = pd.read_csv('./zippedData/tn.movie_budgets.csv.gz')

In [30]:
# First five rows
tn_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [31]:
# Checking out the datatypes of the columns
tn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [32]:
# Changing production and gross columns to numeric 
tn_df['production_budget'] = tn_df['production_budget'].apply(lambda x: x.strip('$'))
tn_df['domestic_gross'] = tn_df['domestic_gross'].apply(lambda x: x.strip('$'))
tn_df['worldwide_gross'] = tn_df['worldwide_gross'].apply(lambda x: x.strip('$'))
tn_df['production_budget'] = tn_df['production_budget'].apply(lambda x: int(x.replace(',','')))
tn_df['domestic_gross'] = tn_df['domestic_gross'].apply(lambda x: int(x.replace(',','')))
tn_df['worldwide_gross'] = tn_df['worldwide_gross'].apply(lambda x: int(x.replace(',','')))

In [43]:
# Dropping duplicates if any
tn_df.drop_duplicates(inplace = True)

In [39]:
# Lower and stripping space of the movie title
tn_df['movie'] = tn_df['movie'].str.lower().str.strip()

In [44]:
tn_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",avatar,425000000,760507625,2776345279
1,2,"May 20, 2011",pirates of the caribbean: on stranger tides,410600000,241063875,1045663875
2,3,"Jun 7, 2019",dark phoenix,350000000,42762350,149762350
3,4,"May 1, 2015",avengers: age of ultron,330600000,459005868,1403013963
4,5,"Dec 15, 2017",star wars ep. viii: the last jedi,317000000,620181382,1316721747

In [47]:
# Saving as csv
tn_df.to_csv('tn_df.csv')